  <p class="flash"><%= notice %><%= alert %></p>

  <section class="pic-header">
    <img src="<%= asset_path "fbc_top.png" %>">
  </section>
    
  <section class="about">

  <p id="notice"><%= notice %></p>

    <h3>About this page</h3>
    <p>
       大課題3のために作成したページです。
       <br>
       たくさんの方々、特に、メンターの皆様、同期に助けられて作ったページです。
       <br>
       みんな、ありがとうございます！
    </p>
  </section>

  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>

      </div>
  </section>