
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="2"></th>
    </tr>
  </thead>

<tbody>
  <%= @poems.each do |poem| %>
    <td><%= poem.title %></td>
    <td><%= poem.content %></td>
    <td><%= link_to 'Show', poem %></td>

  <% end %>
